@import 'modules/_variables';
@import 'modules/_nav';



body {

    color:black; 
    background-color:white;
    font-family: $reg-font;

    h2 {

        font-family: $heading-font;

    }

}

.hidden {

    display: none;
}