@import 'modules/_variables';
@import 'modules/_nav';
@import 'partials/_header';
@import 'partials/_home';
@import 'partials/_footer';


body {

    color:black; 
    background-color: $white;
    font-family: $reg-font;

    h1, h2 {

        font-family: $heading-font;
        letter-spacing: 1px;


    }

    p {

        font-size: 0.85em;
    }

}

.hidden {

    display: none;
}

.flex {

    display: flex;
}

@media screen and (min-width: 600px) {

    .flexTab {

        display:flex;
        
    }
}