#main-header {

    background-color: #73429B;
    color: white;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-left: 30px;
    padding-bottom:10px;
    padding-top:10px;
    top: -20px;
    right: -20px;
    left: -20px;
    width: 100%;
}

#logo {

    font-family: $heading-font;
}