
@font-face {
    font-family: 'bauhausregular';
    src: url('bauhausregular-webfont.woff2') format('woff2'),
         url('bauhausregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


$main-color: #73429B;
$second-color: #77479d;
$dark-color: #3C3C3C;
$white: #F5F5F5;
$heading-font: "bauhausregular", sans-serif; 
$reg-font: "Helvetica", sans-serif; 
